.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: max-content;
  .arrow {
    color: var(--text-primary);
    transition: var(--ts);
    cursor: auto;
    &.active {
      opacity: 1;
      color: var(--primary-color);
      cursor: pointer;
      &:hover {
        color: var(--text-primary);
      }
    }
  }
  .page {
    color: var(--text-primary);
    font-size: 13px;
    font-weight: 300;
    flex: none;
  }
}
