@import 'src/styles/media';

/*
  ! Navbar
  ! Se for usar configurações de CSS simples
  ? ex: padding, bg e color
  ! Use as variáveis de ambiente no arquivo:
  * src/styles/_variables.scss

  ! Obrigado :) - Noclaf Tech
*/

mat-drawer-container {
  --mat-sidenav-content-background-color: var(--primary-bg);
  --mat-sidenav-container-background-color: var(--primary-bg);
  --mat-sidenav-container-divider-color: var(--primary-bg);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: transparent !important;

  @include media('<=tablet') {
    z-index: 90;
    height: 40px;
    box-shadow: 0 0 16px rgba(25, 25, 25, 0.25);
  }

  mat-drawer {
    width: 60px;
    height: 100%;
    overflow: visible;
    padding: 12px;
    background-color: var(--main-color);
    box-shadow: 2px 2px 8px var(--shadow);
    border: 0px solid transparent;
    border-radius: 0;
    transition: var(--ts);
    margin: 0;

    ::ng-deep.mat-drawer-inner-container {
      background-color: var(--secondary-bg);
      padding: 0 !important;
      margin: 0 !important;
      overflow: visible !important;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .logo {
      position: relative;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      background-color: var(--text-white);
      border-radius: 50%;
      margin: 0 auto;
      transition: var(--ts);
      overflow: hidden;
      cursor: pointer;

      img {
        width: max-content;
        height: 100%;
      }

      avatar {
        width: 100%;
        max-width: 32px;
        height: 32px;
        border-radius: 28px;
        object-fit: cover;
        font-size: 10px;
      }

      i {
        position: absolute;
        font-size: 1.5rem;
        top: 20%;
        left: 10%;
        z-index: 10000;
        transform: translate(-50%, -50%) rotate(-10deg);
      }
    }

    .line {
      width: 90%;
      height: 2px;
      margin: 0 auto;
      border-radius: 5px;
      background-color: var(--text-white);
    }

    .list {
      height: calc(100% - 32px);
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      list-style-type: none;

      ::ng-deep li {
        width: 35px;
        display: flex;
        aspect-ratio: 1/1;

        a,
        button {
          width: 35px;
          min-width: 35px;
          height: 35px !important;
          display: flex;
          justify-content: flex-start;
          box-shadow: none;
          background-color: var(--main-color);
          color: var(--text-white);
          padding: 0;
          border: 0px solid;

          &.active {
            background-color: var(--text-white);
            color: var(--label);
          }
        }

        &:last-of-type {
          margin-top: auto;
        }
      }

      @include media('<=tablet') {
        height: 45px;

        li {
          width: 45px;
          height: 45px;

          a {
            width: 45px;
            height: 45px !important;
          }
        }
      }
    }

    .version {
      position: absolute;
      bottom: 2px;
      text-align: center;
      width: 100%;
      opacity: 0.5;
    }
  }

  @include media('<=tablet') {
    position: fixed;
    width: 100%;
    height: 60px;
    top: auto;
    bottom: 0;
    left: 0;

    mat-drawer {
      width: 100%;
      height: 60px;
      overflow: visible;
      // height: max-content;
      margin: 0;
      padding: 6px;
      // border-radius: 12px;
      background-color: var(--primary-bg);
      box-shadow: 0 -10px 16px rgba(25, 25, 25, 0.5) !important;

      ::ng-deep .mat-drawer-content {
        margin: 0 !important;
      }

      ::ng-deep .mat-drawer-inner-container {
        padding: 0 !important;
        margin: 0 !important;
        flex-direction: row !important;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;

        .logo {
          display: none;
        }

        .line {
          display: none;
        }

        .list {
          flex-direction: row;
          justify-content: center;
          align-items: center;

          ::ng-deep li {
            width: 35px;
            display: flex;
            aspect-ratio: 1/1;

            a,
            button {
              background-color: var(--primary-bg);
              // background-color: var(--text-white);
              color: var(--label);

              &.active {
                background-color: var(--main-color);
                color: var(--text-white);
              }
            }

            &.logout {
              display: none;
            }
          }
        }
      }
    }
  }
}

::ng-deep .mat-mdc-menu-panel.notifications-menu {
  max-height: 600px;
  max-width: 400px;
  width: 100%;
  border: 1px solid var(--border-color-light);

  .mat-mdc-menu-content {
    background-color: var(--secondary-bg);
    padding: 0 !important;
    margin: 0 auto !important;

    h2 {
      padding: 0.2rem 1rem 0.5rem;
      margin: 0;
      color: var(--text-color);
      border-bottom: 1px solid var(--border-color-light);
    }
    .mat-mdc-menu-item {
      padding: 0.5rem 1rem;
      color: var(--text-color);
      .mat-mdc-menu-item-text {
        display: flex;
        gap: 0.5rem;
        & > .icon {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: var(--primary-bg);
          box-shadow: 0px 0px 1px 1px var(--primary-bg);
          flex: none;
          display: flex;
          align-items: center;
          justify-content: center;
          &.unread {
            color: var(--main-color);
            box-shadow: 0px 0px 1px 1px var(--main-color);
          }
        }
      }

      & + .mat-mdc-menu-item {
        border-top: 1px solid var(--border-color-light);
      }
    }
  }
}

.notification {
  position: absolute;
  top: 1rem;
  right: 5rem;
  width: 48px;
  height: 48px;
  z-index: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  .notification_numer {
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--main-color);
    font-size: 10px;
  }

  i {
    --mdc-icon-button-icon-size: 1.2rem;
  }
}

app-theme-dark-light {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 900;
}

app-button-action {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 900;
}

.scrren {
  position: relative;
  width: calc(100% - 60px);
  margin-left: 60px;
  z-index: 60;

  @include media('<=tablet') {
    width: 100%;
    margin-left: 0px;
    padding-bottom: 80px;
  }
}
