<mat-drawer-container autosize>
  <mat-drawer #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <div class="logo">
      <img src="assets/icons/icon-512x512.png" alt="logo" />
    </div>

    <div class="line"></div>

    <ul class="list loading" *ngIf="loading">
      <li class="skeleton dark" *ngFor="let item of [1, 2, 3, 4, 5]">
        <button [disableRipple]="true" mat-button class="s">&rlm;</button>
      </li>
    </ul>
    <ul class="list" *ngIf="!loading" (click)="isMobile && drawerToggle()">
      <li *ngFor="let item of navbarPages">
        <a
          mat-button
          [routerLink]="item.link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
            exact: true
          }"
        >
          <i [icon]="item.icon"></i>
          <!-- <span class="one-line">{{ item.label }}</span> -->
        </a>
      </li>
      <li class="logout">
        <button title="Sair" mat-button (click)="logout()">
          <i icon="logof"></i>
          <!-- <span class="one-line">Sair</span> -->
        </button>
      </li>
    </ul>
  </mat-drawer>
</mat-drawer-container>

<div id="canvas"></div>

<div class="scrren">
  <router-outlet></router-outlet>
</div>
