@import 'src/styles/media';

/*
  ! Navbar
  ! Se for usar configurações de CSS simples
  ? ex: padding, bg e color
  ! Use as variáveis de ambiente no arquivo:
  * src/styles/_variables.scss

  ! Obrigado :) - Noclaf Tech
*/

mat-drawer-container {
  --mat-sidenav-content-background-color: var(--primary-bg);
  --mat-sidenav-container-background-color: var(--primary-bg);
  --mat-sidenav-container-divider-color: var(--primary-bg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent !important;

  mat-drawer {
    width: 180px;
    overflow: visible;
    padding-top: calc(2rem - 14px);
    margin-left: -250px;
    background-color: var(--secondary-bg);
    box-shadow: 2px 2px 8px var(--shadow);
    border: 0px solid transparent;

    &.mat-drawer-opened {
      overflow: visible;
      width: 180px;
      height: 100%;
      margin-left: 0;
    }

    .logo {
      max-width: 76px;
      max-height: 76px;
      padding: 0.8rem;
      background-color: var(--secondary-bg);
      border-radius: 50%;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
      i {
        position: absolute;
        font-size: 1.5rem;
        top: 20%;
        left: 10%;
        z-index: 10000;
        transform: translate(-50%, -50%) rotate(-10deg);
      }
    }

    .list {
      height: calc(100% - 100px);
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 2rem 0.5rem 0.5rem;

      ::ng-deep li {
        a,
        button {
          width: 100%;
          color: var(--text-color);

          &.active {
            background-color: var(--secondary-bg);
          }

          .mdc-button__label {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            i {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              color: var(--main-color);
              background-color: var(--primary-bg);
              width: 32px;
              height: 32px;
            }
          }
        }

        & + li {
          margin-top: 0.5rem;
        }

        &:last-of-type {
          margin-top: auto;
        }
      }
    }

    .version {
      position: absolute;
      bottom: 2px;
      text-align: center;
      width: 100%;
      opacity: 0.5;
    }
  }

  nav {
    width: calc(100% - 1rem);
    padding: 0.5rem 0.7rem;
    margin: 0.5rem;
    background-color: var(--secondary-bg);
    border-radius: 12px;
    box-shadow: 2px 2px 8px var(--shadow);

    .content {
      width: 100%;
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between;

      .menu {
        display: flex;
        align-items: center;
        gap: 1rem;

        .quick-actions {
          display: flex;
          align-items: center;
        }

        .notification {
          position: relative;
          .badge {
            transition: var(--ts);
            opacity: 0;
            position: absolute;
            top: 15px;
            right: 15px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: var(--main-color);
            &.show {
              opacity: 1;
            }
            &::after {
              content: '';
              position: absolute;
              top: -2px;
              left: -2px;
              width: 5px;
              height: 5px;
              border: 2px solid var(--main-color);
              border-radius: 50%;
              transform: scale(0.5);
              opacity: 1;
              animation: pulse-notification 1.5s infinite;
            }
          }
        }
        .profile {
          min-width: 36px;
          width: 36px;
          height: 36px;
          padding: 0;
          border-radius: 10px;

          .image {
            min-width: 36px;
            width: 36px;
            height: 36px;
            background-color: var(--main-color);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            // overflow: hidden;
            i {
              font-size: 1rem;
              color: var(--primary-bg);
            }
            img {
              width: 36px;
              height: 36px;
              object-fit: cover;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}

::ng-deep .mat-mdc-menu-panel.notifications-menu {
  max-height: 600px;
  max-width: 400px;
  width: 100%;
  border: 1px solid var(--border-color-light);

  .mat-mdc-menu-content {
    background-color: var(--secondary-bg);

    h2 {
      padding: 0.2rem 1rem 0.5rem;
      margin: 0;
      color: var(--text-color);
      border-bottom: 1px solid var(--border-color-light);
    }
    .mat-mdc-menu-item {
      padding: 0.5rem 1rem;
      color: var(--text-color);
      .mat-mdc-menu-item-text {
        display: flex;
        gap: 0.5rem;
        & > .icon {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: var(--primary-bg);
          box-shadow: 0px 0px 1px 1px var(--primary-bg);
          flex: none;
          display: flex;
          align-items: center;
          justify-content: center;
          &.unread {
            color: var(--main-color);
            box-shadow: 0px 0px 1px 1px var(--main-color);
          }
        }
      }

      & + .mat-mdc-menu-item {
        border-top: 1px solid var(--border-color-light);
      }
    }
  }
}
