<section
  [style.backgroundColor]="finance.installment.category_obj?.bg_color || 'var(--secund-bg)'"
  (click)="openDetail()"
>
  <div class="left">
    <div class="row">
      <div *ngIf="finance.installment.category_obj"
        class="tag"
        [style.backgroundColor]="finance.installment.category_obj.color"
        [initialLetters]="finance.installment.category_obj.name"
        [length]="2"
      ></div>

      <div class="info">
        <h5 class="f-10">
          {{ finance.installment.account_obj?.name || '' }}
        </h5>
        <h2 class="f-16">{{ finance.description }}</h2>
        <h3 class="f-10 status" [ngClass]="status">
          {{ status | convertStatus }}
        </h3>
      </div>
    </div>

    <h5 class="f-10 date">
      {{ finance.installment.due_date | date : 'EE' }}
      {{ finance.installment.due_date | date : 'd' }} de
      {{ finance.installment.due_date | date : 'MMM' }}
    </h5>
  </div>

  <div class="price">
    <h5 class="f-10">
      {{ finance.number_of_installments === 1 ? '' : 'parcelado' }}
    </h5>
    <h3 class="f-14" [ngClass]="status">
      <i id="TRANSFER" *ngIf="finance.type === 'TRANSFER' " icon="arrow_down_arrow_up"></i>
      <i id="EXPENDITURE" *ngIf="finance.type === 'EXPENDITURE' " icon="arrow_up"></i>
      <i id="INCOME" *ngIf="finance.type === 'INCOME' " icon="arrow_down"></i>
      {{ finance.installment.installment_value | convertMoney }}
    </h3>
    <h5 class="f-10" *ngIf="finance.number_of_installments > 1">
      {{ finance.installment.current_installment }} de
      {{ finance.number_of_installments }}x
    </h5>
  </div>
</section>
