@import './animations';

.card_input {
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-size: 1rem;
    padding-left: 5px;
  }

  input,
  textarea,
  select {
    width: 100%;
    border: 0px solid transparent;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 2px 2px 4px var(--shadow);
    border-left: 50px solid var(--bgDark);

    &::placeholder {
      font-size: 14px;
      font-weight: 500;
      color: var(--primaryText);
      opacity: 0.9;
    }

    &[type='number'] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }
    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    &.ng-touched.ng-invalid {
      border-color: var(--red_color);
      @include shake;
    }
    &[type='file'] {
      display: none;
    }
  }

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 20px;
  }
}
