:root {
  --ts: all 0.3s ease-in-out;

  --primaryText: #142534;
  --secondText: #fafafa;

  --bgDark: #ebe9e7;
  --bgLight: #fafafa;
  --bgMain: #6e6af5;

  --colorBlue: #01c6ff;
  --colorGreen: #01ffb9;
  --colorRed: #e64849;

  --shadow: rgba(0, 0, 0, 0.15);
}
