:root {
  font-size: calc(16px + 0.3125vw);
  --ts: all 0.3s ease-in-out;

  --text-primary: #142534;
  --text-secondary: #fafafa;
  --input-bg: #fff;

  --btn-bg: #142534;

  --primary-bg: #edf3fb;
  --secondary-bg: #fdfdfd;
  --primary-color: #6e6af5;

  --colorWhite: #fff;
  --colorBlue: #01c6ff;
  --colorGreen: #01ffb9;
  --colorRed: #e64849;

  --shadow: rgba(0, 0, 0, 0.05);

  // ? Scrollbar
  --scroll-track: var(--secondary-bg);
  --scroll-thumb: var(--primary-color);

  // ? size width
  --width-screen: 95%;
  --max-width: 1440px;
}

.dark:root {
  --text-primary: #fafafa;
  --text-secondary: #142534;
  --input-bg: #424242;

  --primary-bg: #2c2c2e;
  --secondary-bg: #1c1c1e;

  --colorBlue: #01c6ff;
  --colorGreen: #01ffb9;
  --colorRed: #e64849;
}
