.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 12px;
}

form {
  // padding: 1rem;
  // background-color: var(--primary-bg);

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    &.phase_one {
      gap: 1.5rem;

      .primary {
        margin-top: 0px;
      }
    }

    h1 {
      color: var(--text-primary);
      text-transform: capitalize;
    }

    .line {
      width: 90%;
      height: 1px;
      content: '';
      background-color: var(--label);
      opacity: 0.2;
      margin: 0.5rem auto;
    }

    .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary,
    .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-warn,
    .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-accent {
      --mdc-chip-label-text-color: var(--white);
      --mdc-chip-with-icon-selected-icon-color: var(--white);
    }

    .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary {
      --mdc-chip-elevated-container-color: var(--main-color);
    }

    .primary {
      margin-top: 1rem;
    }
  }
}
