.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 12px;
}

form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  h1 {
    color: var(--text-primary);
  }

  .primary {
    margin-top: 1rem;
  }
}
