<form (ngSubmit)="saveSubmitHandler()" [formGroup]="category_form">
  <h1> Categoria </h1>

  <div class="card_input">
    <i icon="name"></i>
    <input title="name" type="text" formControlName="name" placeholder="Nome" />
  </div>

  <div class="card_input colors">
    <ngx-colors ngx-colors-trigger formControlName="bg_color"
      (input)="logEvent($event, 'bg_color')"></ngx-colors>

    <i icon="rectangle_wide"></i>
    <input title="bg_color" type="text" readonly formControlName="bg_color" placeholder="Cor de fundo" />
  </div>

  <div class="card_input colors">
    <ngx-colors ngx-colors-trigger formControlName="color"
      (input)="logEvent($event, 'color')"></ngx-colors>

    <i icon="input_text"></i>
    <input title="color" type="text" readonly formControlName="color" placeholder="Cor do texto" />
  </div>

  <!-- <div class="card_input">
    <i icon="installments"></i>
    <input
      title="percent"
      type="text"
      mask="separator.2"
      [thousandSeparator]="'.'"
      [decimalMarker]="','"
      formControlName="percent"
      placeholder="Percentual"
    />
  </div> -->

  <button type="submit" title="adicionar" mat-raised-button class="primary">
    {{ text_button }}
  </button>
</form>
