<main>
  <app-theme-dark-light class="theme"></app-theme-dark-light>

  <form (ngSubmit)="loginSubmit()" [formGroup]="login_form">
    <h1>Login</h1>

    <div class="card_input">
      <i icon="email"></i>
      <input
        title="email"
        type="email"
        formControlName="email"
        placeholder="E-mail"
      />
    </div>

    <div class="card_input">
      <i icon="password"></i>
      <input
        title="password"
        type="password"
        formControlName="password"
        placeholder="Senha"
      />
    </div>

    <button type="submit" mat-raised-button class="primary">Entrar</button>

    <button
      type="button"
      title="login google"
      mat-raised-button
      class="icon btn_img"
      (click)="loginGoogleSubmit()"
    >
      <img src="../../../assets/logo_google.png" alt="" />
    </button>
  </form>

  <!-- <div class="line"></div>

  <h5 class="f-12">
    Não tem uma conta? <a class="f-12" routerLink="/register"> Criar conta </a>
  </h5> -->
</main>
