<main>
  <app-theme-dark-light class="theme"></app-theme-dark-light>

  <form action="">
    <h1>Login</h1>

    <div class="card_input">
      <i icon="email"></i>
      <input title="email" type="email" placeholder="E-mail" />
    </div>

    <div class="card_input">
      <i icon="password"></i>
      <input title="password" type="password" placeholder="Senha" />
    </div>
    <button
      type="submit"
      mat-raised-button
      class="blue_dark"
      routerLink="/home"
    >
      Entrar
    </button>

    <button
      type="button"
      title="login google"
      mat-raised-button
      class="white btn_img"
      routerLink="/home"
    >
      <img src="../../../assets/logo_google.png" alt="" />
    </button>
  </form>
</main>
