<section>
  <i icon="close" class="icon_close" (click)="chance('no')"></i>

  <header>
    <h1> {{ data.finance.description }} </h1>

    <button
      type="button"
      title="Editar"
      mat-raised-button
      class="transparent"
      (click)="editFinance()"
    >
      <i icon="edit"></i>
    </button>
  </header>

  <form class="finance-info" [formGroup]="finance_form">

    <div class="info" *ngIf="data.finance.recurrence !== 'INSTALLMENTS'">
      <h3 class="f-14 status" [ngClass]="status">
       {{ status | convertStatus }}
      </h3>
    </div>

    <div class="info">
      <label class="f-14"> Valor de {{ data.finance.type | convertStatus }}: </label>
      <span class="space"></span>
      <h3 class="f-14" [ngClass]="status">
        <i id="TRANSFER" *ngIf="data.finance.type === 'TRANSFER' " icon="arrow_down_arrow_up"></i>
        <i id="EXPENDITURE" *ngIf="data.finance.type === 'EXPENDITURE' " icon="arrow_up"></i>
        <i id="INCOME" *ngIf="data.finance.type === 'INCOME' " icon="arrow_down"></i>
        {{ data.finance.installment.installment_value | convertMoney }}
      </h3>
    </div>

    <div class="info" *ngIf="data.finance.recurrence !== 'INSTALLMENTS'">
      <label class="f-14"> Recorrencia: </label>
      <span class="space"></span>
      <h3 class="f-14" [ngClass]="status">
        {{ data.finance.recurrence | convertStatus }}
      </h3>
    </div>

    <div class="info" *ngIf="data.finance.installment.category_obj">
      <label class="f-14"> Categoria: </label>
      <span class="space"></span>
      <h3 class="f-14" [ngClass]="status">
        {{ data.finance.installment.category_obj.name }}
      </h3>
    </div>

    <div class="info" *ngIf="data.finance.installment.account_obj">
      <label class="f-14"> Conta: </label>
      <span class="space"></span>
      <h3 class="f-14" [ngClass]="status">
        {{ data.finance.installment.account_obj.name }}
      </h3>
    </div>

    <div class="info">
      <label class="f-14"> Data vencimento: </label>
      <span class="space"></span>
      <h3 class="f-14" [ngClass]="status">
        {{ data.finance.installment.due_date | date: 'dd/MM/yyyy' }}
      </h3>
    </div>

    <div class="info" *ngIf="data.finance.number_of_installments > 1">
      <label class="f-14"> Parcela: </label>
      <span class="space"></span>
      <h3 class="f-14" [ngClass]="status">
        {{ data.finance.installment.current_installment }} de
      {{ data.finance.number_of_installments }}x
      </h3>
    </div>

    <br><br>

    <div class="info" *ngIf="data.finance.installment.installment_image">
      <label class="f-14"> Comprovante: </label>
      <span class="space"></span>
      <a [href]="data.finance.installment.installment_image" target="_blank"> Abrir </a>
    </div>

    <div class="card_input" *ngIf="!data.finance.installment.installment_image">
      <i icon="receipt"></i>
      <input
        title="receipt"
        type="text"
        readonly
        formControlName="receipt"
        placeholder="Adicionar comprovante"
        (click)="fileImage.click()"
      />

      <input
        type="file"
        #fileImage
        style="display: none"
        accept="image/*"
        (change)="onFileChanged($event)"
      />

    </div>

  </form>

  <div class="buttons center">
    <button *ngIf="!data.finance.installment.is_paid"
      type="button"
      title="adicionar"
      mat-raised-button
      class="primary"
      (click)="paymentInstallment()"
    >
      <i icon="check"></i>
      {{ data.finance.type === 'INCOME' ? 'Rebecido': ( data.finance.type === 'EXPENDITURE' ?  'Pago'  : '' ) }}
    </button>
  </div>
</section>
