@import 'src/styles/media';

main {
  width: var(--width-screen);
  margin: 0 auto;
  padding: 1rem 0.1rem 0.2rem;

  header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    color: var(--text-primary);

    h1 {
      margin: 0;
    }
  }

  .card-tablet table td {
    background-color: transparent;

    &:first-child {
      padding-left: 6px;
    }
  }

  .card-tag {
    width: 35px;
    height: 35px;
    display: flex;
    aspect-ratio: 1/1;
    border-radius: 12px;
    box-shadow: 0 0 8px var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: white;
  }

  .primary {
    background-color: var(--btn-bg);
    color: white;
  }
}
