<main>
  <header>
    <h1>Home</h1>
  </header>

  <section class="card white flex row">
    <div
      class="card"
      *ngFor="let goal of list_goals"
      [style.background]="goal.color"
    >
      <header>
        <h5>{{ goal.title }}</h5>
        <h2>{{ salary * (goal.goal / 100) | convertMoney }}</h2>
      </header>

      <div class="graphic">
        <h1>{{ goal.goal }}%</h1>
        <mat-progress-spinner [mode]="'determinate'" [value]="goal.goal">
        </mat-progress-spinner>
        <mat-progress-spinner [mode]="'determinate'" [value]="100">
        </mat-progress-spinner>
      </div>
    </div>
  </section>
</main>
