main {
  section {
    padding: 15px;
    gap: 15px;

    .card {
      color: var(--secondText);
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:nth-child(1) {
        background-color: #00477a;
      }

      &:nth-child(2) {
        background-color: #037dc1;
      }

      &:nth-child(3) {
        background-color: #610aa6;
      }

      .graphic {
        min-width: 90px;
        min-height: 90px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0.8);

        h1 {
          transform: scale(1.2);
        }

        mat-progress-spinner {
          position: absolute;
        }
      }
    }
  }
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: rgba(255, 255, 255, 0.4) !important;
  stroke-width: 7% !important;
}
