<div class="list-container" id="list-container">
  <button class="more-button" (click)="open()" aria-label="Menu Button">
    <div class="menu-icon-wrapper">
      <div class="menu-icon-line half first"></div>
      <div class="menu-icon-line"></div>
      <div class="menu-icon-line half last"></div>
    </div>
  </button>

  <ul class="more-button-list">
    <li class="more-button-list-item">
      <i icon="home"></i>
      <span> Despesa </span>
    </li>

    <li class="more-button-list-item">
      <i icon="card"></i>
      <span> Entrada </span>
    </li>

    <li class="more-button-list-item" routerLink="/finance">
      <i icon="card"></i>
      <span> Cartão </span>
    </li>
  </ul>
</div>
