<div class="list-container" id="list-container">
  <button class="more-button" (click)="open()" aria-label="Menu Button">
    <div class="menu-icon-wrapper">
      <div class="menu-icon-line half first"></div>
      <div class="menu-icon-line"></div>
      <div class="menu-icon-line half last"></div>
    </div>
  </button>

  <ul class="more-button-list">
    <li class="more-button-list-item" routerLink="/home">
      <i icon="home"></i>
      <span> Dashboard </span>
    </li>

    <li class="more-button-list-item" routerLink="/goals">
      <i icon="card"></i>
      <span> Metas </span>
    </li>

    <li class="more-button-list-item">
      <i icon="card"></i>
      <span> Cartões </span>
    </li>

    <br /><br />

    <li class="more-button-list-item" (click)="logof()">
      <i icon="logof"></i>
      <span> Sair </span>
    </li>
  </ul>
</div>
