<main>
  <header>
    <h1> Dashboard</h1>
  </header>

  <section>
    <div class="card">
      <div class="info-day">
        <h1 class="f-16"> Recebimentos do Dia </h1>
        <p class="f-24 input"> R$0,00 </p>
      </div>

      <div class="info-month">
        <h1 class="f-12"> Previsão do Mês </h1>
        <p class="f-18 input"> R$0,00 </p>
      </div>
    </div>

    <div class="card">
      <div class="info-day">
        <h1 class="f-16"> Pagamento do Dia </h1>
        <p class="f-24 output"> R$0,00 </p>
      </div>

      <div class="info-month">
        <h1 class="f-12"> Previsão do Mês </h1>
        <p class="f-18 output"> R$0,00 </p>
      </div>
    </div>
  </section>

  <section class="calendar">
    <app-calendar></app-calendar>
  </section>
</main>
