<main>
  <header>
    <h1> Dashboard</h1>
  </header>

  <section>
    <div class="card">
      <div class="info-day">
        <h1 class="f-16"> Recebimentos do Dia </h1>
        <p class="f-24 input"> {{ dashboard.total_day_income | convertMoney }} </p>
      </div>

      <div class="info-month">
        <h1 class="f-12"> Previsão do Mês </h1>
        <p class="f-18 input"> {{ dashboard.total_month_income | convertMoney }} </p>
      </div>
    </div>

    <div class="card">
      <div class="info-day">
        <h1 class="f-16"> Pagamento do Dia </h1>
        <p class="f-24 output"> {{ dashboard.total_day_expenditure | convertMoney }} </p>
      </div>

      <div class="info-month">
        <h1 class="f-12"> Previsão do Mês </h1>
        <p class="f-18 output"> {{ dashboard.total_month_expenditure | convertMoney }} </p>
      </div>
    </div>
  </section>

  <section class="calendar" *ngIf="!loading">
    <app-calendar
      [data]="finances_compact"
      [month]="current_month"
      [year]="current_year"
      (changeCalendar)="setCalendar($event)"
    ></app-calendar>
  </section>

  <section>
    <!-- <apx-chart
      id="graphic_summary"
      *ngIf="graphic_summary.series.length"
      [theme]="graphic_summary.theme"
      [series]="graphic_summary.series"
      [chart]="graphic_summary.chart"
      [dataLabels]="graphic_summary.dataLabels"
      [plotOptions]="graphic_summary.plotOptions"
      [xaxis]="graphic_summary.xaxis"
      [colors]="graphic_summary.colors"
      [yaxis]="graphic_summary.yaxis"
    ></apx-chart> -->
  </section>
</main>
