@import 'src/styles/media';

main {
  width: var(--width-screen);
  margin: 0 auto;
  padding: 1rem 0.1rem 0.2rem;

  header {
    width: 100%;
    // max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--text-primary);

    a {
      &.mat-icon-button {
        min-width: 35px;
        min-height: 35px;
        line-height: 1;
        border-radius: 50%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    h1 {
      width: 100%;
      max-width: 180px;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
    }
  }

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    .top_info {
      width: 100%;
      text-align: center;

      h3 {
        margin: 0;
      }
    }

    .card-tablet {
      width: 100%;
      // width: 50%;

      table {
        width: 100%;
        // min-width: 580px;
      }
    }

    .info_mobile {
      display: none;
    }

    @include media('<=650px') {
      .info_web {
        display: none;
      }

      .info_mobile {
        display: flex;
      }

      flex-direction: column;
      .card-tablet {
        width: 100%;
      }
    }
  }
}
