<main>
  <header>
    <a mat-icon-button (click)="changeMonth('back')">
      <i icon="angle_left"></i>
    </a>
    <h1>{{ months[current_month].label }}</h1>
    <a mat-icon-button (click)="changeMonth('next')">
      <i icon="angle_right"></i>
    </a>
  </header>

  <section *ngIf="!loading">
    <div class="card-tablet">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="tag">
          <th mat-header-cell *matHeaderCellDef>Tag</th>
          <td mat-cell *matCellDef="let row" [ngClass]="row.tag">
            {{ row.tag }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let row" [ngClass]="row.tag">
            {{ row.date | date : 'dd' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let row" [ngClass]="row.tag">
            <span *ngIf="row.Installments <= 1">{{ row.description }} </span>
            <span *ngIf="row.Installments > 1"
              >{{ row.description }} ({{
                row.Installments ? '1/' + row.Installments : ''
              }})</span
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Valor</th>
          <td mat-cell *matCellDef="let row" [ngClass]="row.tag">
            {{ row.value / row.Installments | convertMoney }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let row" [ngClass]="row.tag">
            <span class="info_web"> {{ row.status | convertStatus }} </span>
            <span
              class="info_mobile"
              matTooltip="{{ row.status | convertStatus }}"
            >
              <i [icon]="row.status"> </i>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="payment_voucher">
          <th mat-header-cell *matHeaderCellDef>Comprov.</th>
          <td mat-cell *matCellDef="let row" [ngClass]="row.tag">
            <div class="buttons">
              <span *ngIf="!row.payment_voucher"> <i icon="import"> </i></span>
              <span
                *ngIf="row.payment_voucher"
                [matTooltip]="row.payment_voucher"
              >
                <i icon="file"> </i>
              </span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" [ngClass]="row.tag">
            <div class="row-icons">
              <a mat-icon-button> <i icon="edit"> </i></a>
              <a mat-icon-button> <i icon="save"> </i></a>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </section>
</main>
