main {
  padding: 1rem 0.1rem 0.2rem;
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    table {
      width: 100%;

      tr {
        &.mat-header-row {
          height: 35px;
        }

        &.mat-row {
          height: 40px;
          z-index: 10;
          transition: all 0.2s;
          &:hover {
            transform: scale(1.02);
            z-index: 20;
            cursor: pointer;
          }
        }
      }

      th.mat-header-cell,
      td.mat-cell {
        border-bottom-width: 0;
        text-align: center;
      }

      th.mat-header-cell:first-of-type,
      th.mat-header-cell:last-of-type {
        padding: 0;
      }

      td.mat-cell:first-of-type,
      td.mat-cell:last-of-type {
        padding: 0;
      }

      td {
        span {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &.G {
          background-color: #ffe5a0;
        }
        &.CF {
          background-color: #bfe1f6;
        }
        &.I {
          background-color: #d4edbc;
        }
        &.C {
          background-color: #e6cff2;
        }

        &.cdk-column-options {
          width: 60px;
          padding: 0;

          .row-icons {
            display: flex;
            gap: 1rem;
            padding-right: 10px;
          }
        }
      }
    }
  }
}
