@import 'src/styles/media';

main {
  width: var(--width-screen);
  margin: 0 auto;
  padding: 1rem 0.1rem 0.2rem;

  header {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    color: var(--text-primary);

    h1 {
      margin: 0;
    }
  }

  .filter_date {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1rem;
    color: var(--text-primary);

    a {
      &.mat-icon-button {
        min-width: 35px;
        min-height: 35px;
        line-height: 1;
        border-radius: 50%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
      }
    }

    .date {
      width: 100%;
      max-width: 180px;
      h5,
      h1 {
        text-transform: uppercase;
        text-align: center;
        margin: 0;
      }
      h5 {
        opacity: 0.6;
        letter-spacing: 5px;
        color: var(--label);
      }
    }
  }

  .buttons {
    align-items: center;
    margin-bottom: 1rem;

    .top_info {
      flex: 1;
      max-width: 200px;
      color: var(--text-primary);
      background-color: var(--input-bg);
      border-radius: var(--br);
      padding: 0.7rem 1rem;

      &.right {
        text-align: right;
      }

      &.center {
        text-align: center;
      }

      &.left {
        text-align: left;
      }

      h5 {
        opacity: 0.5;
        color: var(--text-primary);
      }
      h3 {
        margin: 0;

        &.input {
          color: var(--green);
        }
        &.output {
          color: var(--pink);
        }
      }
    }
  }

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    .finances {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0.5rem;

      .empyty,
      app-card-financial {
        min-width: 350px;
        flex: 1;
      }

      .empyty {
        content: '';
        @include media('<=750px') {
          display: none;
        }
      }
    }

    pagination {
      margin-left: auto;
    }
  }
}
