<main>
  <header>
    <h1> Finanças </h1>
  </header>

  <div class="filter_date">
    <a mat-icon-button (click)="changeMonth('back')">
      <i icon="angle_left"></i>
    </a>
    <div class="date">
      <h5>
        {{ current_year }}
      </h5>
      <h1>
        {{ months[current_month].label }}
      </h1>
    </div>
    <a mat-icon-button (click)="changeMonth('next')">
      <i icon="angle_right"></i>
    </a>
  </div>

  <div class="buttons">
    <button
      type="button"
      title="adicionar"
      mat-raised-button
      class="primary"
      (click)="craateFinance()"
    >
      Adicionar
    </button>

    <div class="top_info">
      <h5>Total do Mês</h5>
      <h3>{{ totalForTheMonth | convertMoney }}</h3>
    </div>
  </div>

  <page-loading *ngIf="loading"></page-loading>

  <section *ngIf="!loading">
    <div class="finances">
      <app-card-financial
        *ngFor="let finance of dataSource"
        [finance]="finance"
        (event)="action($event)"
      ></app-card-financial>
      <div class="empyty" *ngFor="let obj of [].constructor(5)"></div>
    </div>

    <!-- <pagination
      (pageChange)="backOrNextPage($event)"
      [back]="prev"
      [next]="next"
      [current]="current_page"
      [total]="count_page"
    ></pagination> -->
  </section>
</main>
